div {
    margin: 5px;
    padding: 5px;
}

#nomprénom {
    font-size: 40px;
    font-family: 'Special Elite', cursive;
    text-decoration-line: none;
}

span {
    font-size: large;
    font-family: 'Syne Mono', monospace;
    text-decoration-line: underline overline;
}

h1 {
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
}

body {
    background: linear-gradient(-45deg, #008080, #00cccc, #23a6d5, #e6ffff);
}

li {
    width: 50%;
}

